<div>
  <div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
  </div>
  <div class="modal-body">
    <p>Name</p>
    <input [formControl]="input" type="text" (keydown.enter)="input.valid && create()">
    <span class="small ml-1">(* required)</span>
    <p class="small" [class.text-danger]="input.invalid && input.dirty" *ngIf="input.invalid && input.dirty">Input can't
      be blank.</p>

  </div>
  <div class="modal-footer">
    <button type="button"
      class="btn btn-outline-dark"
      (click)="activeModal.close()">Cancel</button>
    <button type="button"
      class="btn"
      [class.btn-outline-dark]="input.invalid"
      [class.btn-primary]="input.valid"
      [class.disabled]="input.invalid"
      [disabled]="input.invalid"
      (click)="create()">OK</button>
  </div>
</div>