<div class="task-manager">
  <div class="header"> 
    <div class="title">
     <h3>Task Management  </h3></div>
     <div class="add-list">  <a href="#" id="tasklist-add-button" (click)="addList()" aria-label="Add new list">+ Add List</a></div> </div>

   <div class="task-board">
    <div class="lists">
      <div class="list" *ngFor="let tasklist of taskLists ">
        <div style="padding-right: 7px;margin-bottom: 10px;">
          <span tabindex="0" [attr.aria-label]="tasklist.name">
          <app-edit-input [data]='tasklist.name' (focusOut)='updateTaskListName($event, tasklist)'>{{tasklist.name}}</app-edit-input>
          </span>
          <a href="#" class="delete-icon"  (click)="onDeleteTask(tasklist)">
             <i class="fas fa-trash danger"></i>
            </a> 
        </div>
       <task-list [tasks]="tasklist.tasks"></task-list>
      </div>
    </div>
  </div>
</div>