:root {
  --background-color: #dad2ea; 
  --logo-background-color: #0b568b;
  --logo-text-color: #fff;

  --add-list-btn-color: #fff;

  --list-name-color:#212529;
  --list-background-color: #e5eff5;

  --add-task-btn-color: #007bff;
  --add-task-btn-color-hover: #0056b3;

  --theme-text-color: #505050;
}
